/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  --tp-ff-body: 'Jost', sans-serif;
  --tp-ff-heading: 'Quicksand', sans-serif;
  --tp-ff-p: 'Jost', sans-serif;
  --tp-ff-jost: 'Jost', sans-serif;
  --tp-ff-font-family: 'Jost', sans-serif;
  --tp-common-white: #ffffff;
  --tp-common-black: #000;
  --tp-heading-primary: #2D2A6E;
  --tp-heading-secondary: #96AE00;
  --tp-grey-1: #F2F2F6;
  --tp-grey-2: #F5F6F8;
  --tp-grey-3: #F5F2FF;
  --tp-grey-4: #FFF3EC;
  --tp-grey-5: #ECFBFF;
  --tp-grey-6: #FEEFD0;
  --tp-grey-7: #C4C4C4;
  --tp-grey-8: #F7F7F9;
  --tp-grey-9: #B4DEA4;
  --tp-grey-10: #B0AFCC;
  --tp-text-body: #4D5574;
  --tp-text-1: #FFB800;
  --tp-text-2: #334763;
  --tp-text-3: #79819C;
  --tp-text-4: #FACFD4;
  --tp-text-5: #FFD600;
  --tp-theme-1: #2D2A6E;
  --tp-theme-2: #EA0D42;
  --tp-theme-3: #12B7CE;
  --tp-theme-4: #2D2C6E;
  --tp-theme-5: #D91212;
  --tp-border-1: #E6EBF0;
  --tp-border-2: #ACAFB7;
  --tp-border-3: #EBEFF4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Jost", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
